@model LabelChecksDataLayer.Models.LabelCheck

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>LabelCheck</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="CheckType" class="control-label"></label>
                <input asp-for="CheckType" class="form-control" />
                <span asp-validation-for="CheckType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Num1" class="control-label"></label>
                <input asp-for="Num1" class="form-control" />
                <span asp-validation-for="Num1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Num2" class="control-label"></label>
                <input asp-for="Num2" class="form-control" />
                <span asp-validation-for="Num2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConsiderStartTime" class="control-label"></label>
                <input asp-for="ConsiderStartTime" class="form-control" />
                <span asp-validation-for="ConsiderStartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConsiderEndTime" class="control-label"></label>
                <input asp-for="ConsiderEndTime" class="form-control" />
                <span asp-validation-for="ConsiderEndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PspMeasurementId" class="control-label"></label>
                <select asp-for="PspMeasurementId" class="form-control" asp-items="ViewBag.PspMeasurementId"></select>
                <span asp-validation-for="PspMeasurementId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
