<ul class="nav navbar-nav navbar-right">
    <li><a asp-area="" asp-controller="PspMeasurements" asp-action="Index">Measurements</a></li>
    <li><a asp-area="" asp-controller="LabelChecks" asp-action="Index">Checks</a></li>
    <li><a asp-area="" asp-controller="LabelCheckResults" asp-action="Index">Check Results</a></li>
</ul>