@{
    var dateRouteQuery = new Dictionary<string, string> { { "dateStr", DateTime.Now.AddDays(-1).ToString("yyyy-MM-dd") } };
}
<ul class="nav navbar-nav navbar-right">
    <li><a asp-area="" asp-controller="CheckProcess" asp-action="Index">Process Checks</a></li>
    <li><a href="./hangfire">Process Monitor</a></li>
    <li><a asp-area="" asp-controller="LabelCheckResults" asp-action="Index" asp-all-route-data="dateRouteQuery">Check Results</a></li>
    <li><a asp-area="" asp-controller="LabelChecks" asp-action="Index">Checks</a></li>
    <li><a asp-area="" asp-controller="PspMeasurements" asp-action="Index">Measurements</a></li>
</ul>